.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'ProximaNova';
  src: local("ProximaNova"), url('./resources/fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'ProximaNova';
  src: local("ProximaNova"), url('./resources/fonts/ProximaNova/ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'ProximaNova';
  src: local("ProximaNova"), url('./resources/fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'ProximaNova';
  src: local("ProximaNova"), url('./resources/fonts/ProximaNova/ProximaNova-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'ProximaNova';
  src: local("ProximaNova"), url('./resources/fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'ProximaNova';
  src: local("ProximaNova"), url('./resources/fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
}

.mapouter{position:relative;text-align:right;height:500px;width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiMobileStepper-dot.MuiMobileStepper-dotActive{
  background-color: white !important;
}

.MuiMobileStepper-dot{
  background-color: rgba(0, 0, 0, 0.26) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
